<ion-view view-title="Dashboard" ng-controller="DashCtrl">
  <ion-content class="has-header" ng-class="{expanded:false}">
      <div class=" hero " style="background-image: url('/img/dashboard_bg.jpg'); height: 150px;">
          <div class="content">
              <h2 style=" color: aquamarine; ">Welcome</h2>
              <h3>{{patient.firstName}} {{patient.lastName}}</h3>
              <!--div class="avatar" style="background-image: url('img/arya.jpg');"></div-->
              <h5>Body Mass Index</h5>
              <h4>{{(patient.weight/(patient.height*patient.height)).toFixed(2)}}kg/m<sup>2</sup></h4>
          </div>
      </div>
     <div class="divst">
      <div class="item item-divider">
        Features
      </div>
      <div class="item item-icon-left item-divider" >
        <i class="icon ion-email"></i>
        <div>
          <h2> Check Alerts</h2>
        
        </div>
         <a href="" ng-click="checkAlerts()"><span style=" margin-right: -28px; " class="badge badge-assertive">{{patient.alerts.length}}</span></a>
      </div>
      <div class="item item-icon-left" >
        <i class="icon ion-speedometer"></i>
        <div>
          Blood Pressure
        <a href="" ng-click="addPressure()"><span class="badge "><i class="icon ion-ios-plus"></i></span></a>
        </div>
        
      </div>
      <div class="item item-icon-left " >
        <i class="icon ion-thermometer"></i>
        Blood Glucose
        <a href="" ng-click="addGlucose()"><span class="badge "><i class="icon ion-ios-plus"></i></span></a>
      </div> 

    </div>
  </ion-content>
</ion-view>