<ion-view view-title="Home">
  <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Dashboard" icon="ion-home" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/dashboard">
       <ion-view title="Dashboard">
        <div class="slide-animate" ng-include="'/templates/dashboard.html'"></div>
      </ion-view> 
      <!-- <ion-nav-view name="dashboard"></ion-nav-view> -->
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Blood Pressure" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/pressure">
      <ion-view title="Blood Pressure">
        <div class="slide-animate" ng-include="'/templates/pressure.html'"></div>
      </ion-view>
      <!-- <ion-nav-view name="pressure"></ion-nav-view> -->
    </ion-tab>

    <!-- Dashboard Tab -->
    <ion-tab title="Blood Glucose" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  href="#/tab/glucose">
        <ion-view title="Blood Glucose">
          <div class="slide-animate" ng-include="'/templates/glucose.html'"></div>
        </ion-view> 
        <!-- <ion-nav-view name="glucose"></ion-nav-view> -->
    </ion-tab>


  </ion-tabs>
</ion-view>