<ion-view view-title="Login">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="list">
      <div class="list">
        <label class="item item-input item-divider">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input item-divider">
          <input type="number" placeholder="Mobile Number">
        </label>
        <label class="item item-input item-divider">
          <input type="text" placeholder="Password">
        </label>
        <button class="button button-full button-positive">
          Login
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>