<ion-view view-title="Settings">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="row">
      <div class="col"> 
        <div class="list">

          <div>
            <h4 class="item item-divider">
               Name
            </h4>
            <div class="item item-button-right" >
              Alade Fehinti John
              <button class="button button-positive">
                <i class="icon ion-edit"></i>
              </button>
            </div>
          </div>

          <div >
            <h4 class="item item-divider">
               Profile Picture
            </h4>
            <div class="item item-button-right">
              <img src="/img/arya.jpg">
              <button class="button button-positive" >
                <i class="icon ion-image"></i>
              </button>
            </div>
          </div>

          <div>
            <div class="item item-divider">
               Gender
            </div>
            <div class="item item-button-right" >
              MALE
              <button class="button button-positive">
                <i class="icon ion-edit"></i>
              </button>
            </div>
          </div>

          <div>
            <div class="item item-divider">
              Date of Birth
            </div>
            <div class="item item-button-right" >
              <b>07-04-1990</b>
              <button class="button button-positive">
                <i class="icon ion-edit"></i>
              </button>
            </div>
          </div>

          <div>
            <div class="item item-divider">
              Height
            </div>
            <div class="item item-button-right" >
              <b>7metres</b>
              <button class="button button-positive">
                <i class="icon ion-edit"></i>
              </button>
            </div>
          </div>

          <div>
            <div class="item item-divider">
              Weight
            </div>
            <div class="item item-button-right" >
              <b>75Kg</b>
              <button class="button button-positive">
                <i class="icon ion-edit"></i>
              </button>
            </div>
          </div>
          <div class="item" >
            <button class="button button-full button-positive" >Update Bio Data</button>
          </div>

        </div>

      </div>

    </div>

  </ion-content>
</ion-view>