<ion-view view-title="Profile">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="row">
      <div class="col"> 
        <div class="list">


          <div>
            <div class="item ">
              Height
            </div>
            <div class="item item-button-right" >
              <b>{{patient.height}} metres</b>
              <button ng-click="updateHeight()" class="button button-positive">
                <i class="icon ion-edit"></i>
              </button>
            </div>
          </div>

          <div>
            <div class="item ">
              Weight
            </div>
            <div class="item item-button-right" >
              <b>{{patient.weight}} Kg</b>
              <button ng-click="updateWeight()" class="button button-positive">
                <i class="icon ion-edit"></i>
              </button>
            </div>
          </div>

          <div>
            <h4 class="item ">
               Name
            </h4>
            <div class="item item-button-right" >
              {{patient.firstName}} {{patient.middleName}} {{patient.lastName}}
              <!-- <button class="button button-positive">
                <i class="icon ion-edit"></i>
              </button> -->
            </div>
          </div>

          <!--div >
            <h4 class="item ">
               Profile Picture
            </h4>
            <div class="item item-button-right">
              <img src="/img/arya.jpg">
              <button class="button button-positive" >
                <i class="icon ion-image"></i>
              </button>
            </div>
          </div-->

          <div>
            <div class="item ">
               Gender
            </div>
            <div class="item item-button-right" >
              <span ng-if="patient.gender == 'M'">MALE</span>
              <span ng-if="patient.gender == 'F'">FEMALE</span>
              <button class="button button-positive">
                <i class="icon ion-edit"></i>
              </button>
            </div>
          </div>

          <div>
            <div class="item ">
              Date of Birth
            </div>
            <div class="item item-button-right" >
              <b>{{patient.dateOfBirth}}</b>
              <!-- <button class="button button-positive">
                <i class="icon ion-edit"></i>
              </button> -->
            </div>
          </div>

          <div class="item" >
            <button class="button button-full button-positive" >Update Bio Data</button>
          </div>


        </div>

      </div>

    </div>

  </ion-content>
</ion-view>